<div class="flex flex-col xl:flex-row">
    <div class="xl:w-1/2">
        <h2 class="w-fit bg-gradient-to-r from-pink-600 to-blue-500 bg-clip-text text-transparent text-4xl xl:text-5xl 2xl:text-6xl 2xl:leading-tight font-bold">
            DESENVOLVEDOR <br>FULLSTACK</h2>
        <p class="mt-6 2xl:mt-12 text-white text-lg lg:text-xl 2xl:text-2xl tracking-tight">Bem vindo ao meu portfólio, atuo na criação de aplicações
            modernas, funcionais e bem estruturadas, sempre
            buscando unir estética, performance e experiência do usuário em cada projeto.
            Este portfólio reúne alguns dos meus principais trabalhos, refletindo minha evolução constante como
            desenvolvedor, Aqui você encontrará projetos que demonstram minha forma de pensar, resolver problemas e
            transformar ideias em produtos digitais reais.
        </p>
    
        <button class="text-white tracking-wide mt-6 2xl:mt-12 p-3 2xl:p-5 bg-gradient-to-r from-pink-900 to-blue-500 hover:from-pink-950 hover:to-blue-800 rounded-2xl cursor-pointer">VIZUALIZAR PROJETOS</button>
    
    </div>
    <div class="xl:w-1/2 2xl:mt-20">
        <img src="img/me.png" alt="me">
    </div>
    
</div>
