<div class="max-w-xl lg:max-w-3xl xl:max-w-5xl 2xl:max-w-7xl mx-auto relative">
    <header class="flex justify-between items-center !bg-transparent border border-bordercolor rounded-xl px-16 py-4 2xl:py-7 xl:mt-4">

        <h1 class="text-xl text-white tracking-widest font-semibold">
            PABLO QUIRINO
        </h1>

        <nav class="hidden xl:flex gap-6 text-white text-lg">
            <a routerLink="/sobre" class="hover:text-secondary cursor-pointer transition">SOBRE</a>
            <a routerLink="/tecnologias" class="hover:text-secondary cursor-pointer transition">TECNOLOGIAS</a>
            <a routerLink="/portfolio" class="hover:text-secondary cursor-pointer transition">PORTFOLIO</a>
            <a routerLink="/contato" class="hover:text-secondary cursor-pointer transition">CONTATO</a>
        </nav>

        <button (click)="toggleMenu()" class="xl:hidden text-white text-3xl" aria-label="ABRIR MENU">
            <i class="fa-solid fa-bars"></i>
        </button>

    </header>

    <!-- MENU MOBILE DROPDOWN -->
    <div *ngIf="menuOpen"
        class="xl:hidden mt-2 bg-[#111723] border border-bordercolor rounded-xl p-6 flex flex-col gap-2 text-white text-center animate-fade absolute w-full z-50">
        <a routerLink="/sobre" class="text-lg border border-transparent border-b-bordercolor pb-2 hover:text-secondary transition">SOBRE</a>
        <a routerLink="/tecnologias" class="text-lg border border-transparent border-b-bordercolor pb-2 hover:text-secondary transition">TECNOLOGIAS</a>
        <a routerLink="/portfolio" class="text-lg border border-transparent border-b-bordercolor pb-2 hover:text-secondary transition">PORTFOLIO</a>
        <a routerLink="/contato" class="text-lg hover:text-secondary transition">CONTATO</a>
    </div>

    <main class="mt-5 xl:mt-16 2xl:mt-24 px-5">
        <router-outlet></router-outlet>
    </main>

</div>
